*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f9f5ED;
}

nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
    /* gap: 50px; */
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}


/* CSS for Hero Section(main) */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
width: 40%;
}

.leftmain h1{
    font-size: 67px;
}

.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.rightmain img{
margin: 10px;
    
}

.upper{
    display: flex;
gap: 20%;
}

.rightmain{
width: 60%;
}