@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: auto;
    max-width: 1440px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.Bg-Image img{
    width: 1440px;
    height: 900px;
    filter: brightness(45%);

    /* background-image: url("./Assets/Images/mainBackground.png"); */
    /* background-size: 1440px 900px; */
    /* background-repeat: no-repeat; */
    /* padding-top: 20px; */
    /* padding-right: 90px; */
    /* padding-bottom: 340px; */
}

nav{
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    position: absolute;
    top: 20px;
    margin-top: 5px;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: 460px;
    font-weight: 400;
    color: #fff;
    padding-top: 25px;
}
nav ul li{
    list-style-type: none;
}
.Horizontal-Line{
    position: absolute; 
    top: 120px; 
    left: 150px; 
    width: 1280px;
    filter: brightness(51%);
}
header{
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    margin-top: 100px;
    gap: 40px;
    position: absolute;
    top: 160px;
}
header h1{
    font-size: 65px;
    color: #fff;
}
header p{
    font-size: 18px;
    color: rgb(220, 208, 208);
}
header button{
    padding: 20px 55px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgb(87, 87, 199);
    background-color: rgb(87, 87, 199);
    color: #fff;
}
.Logo-Name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    margin-top: 150px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 60px 80px;
    margin-left: 55px;
    position: absolute;
    top: 650px;
    gap: 100px;
}
main{
    text-align: center;
    background-color: #f8f8f8;
    margin-top: -90px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 160px;
}
main h1{
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}
.Houses{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 20px;
    padding-left: 100px;
}
.House1 img, .House2 img, .House3 img, .House4 img, .House5 img,.House6 img, .House7 img, .House8 img, .House9 img{
    border-radius: 30px;
}
.House1 p, .House2 p, .House3 p, .House4 p, .House5 p, .House6 p, .House7 p, .House8 p, .House9 p{
    background-color: #fff;
    border-radius: 30px;
    font-weight: 600;
    width: 340px;
    height: 120px;
}
.House1 button, .House2 button, .House3 button, .House4 button, .House5 button, .House6 button, .House7 button, .House8 button, .House9 button{
    background-color: rgb(87, 87, 199);
    border: 1px solid rgb(87, 87, 199);
    color: #fff;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
}
section{
    display: grid;
    /* grid-template-columns: 700px 700px; */
    grid-template-columns: repeat(2, 1fr);
    background-color: #f8f8f8;
    gap: 200px 30px;
    padding-top: 150px;
    padding-bottom: 120px;
}
.section2, .section3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 36px;
    font-weight: 900;
}
.section2 p, .section3 p{
    font-size: 18px;
    font-weight: 500;
}
.section2 button, .section3 button{
    border: 1px solid rgb(87, 87, 199);
    background-color: rgb(87, 87, 199);
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.section3{
    margin-left: 140px;
    margin-top: 50px;
}
summary{
    background-color: #f8f8f8;
    margin-top: -100px;
}
.NewsLetter{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 1280px;
    height: 560px;
    border-radius: 80px;
    margin-left: 80px;
    background-color: rgb(87, 87, 199);
}
summary h1{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
}
summary p{
    color: #fff;
    font-size: 17px;
    color: rgb(190, 184, 184);
}
.Form{
    border-radius: 30px;
    width: 500px;
    padding: 15px 50px 15px 62px;
    background-color: rgb(76, 76, 187);
    border: 1px solid rgb(81, 81, 203);
    font-size: 20px;
}
summary img{
    position: absolute;
    left: 470px;
    top: 5357px;
}
summary button{
    padding: 13px 40px 13px 40px;
    border-radius: 30px;
    background-color: #fff;
    color: rgb(87, 87, 199);
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    background-color: #f8f8f8;
    padding-top: 110px;
    padding-bottom: 110px;
    font-size: 25px;
    font-weight: 600;
}