*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242B2E;
    color: white;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 25%;
    /* justify-content: space-between; */

}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 100;
}
nav ul li button{
    border:1px solid yellow;
    color:yellow;
    background: none;
    padding: 9px;
    border-radius: 8px;
    font-weight: 600;
}

main{
height: 85vh;
}

.row1{
    /* display: flex;
    gap: 90px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30%;
    padding-top: 40px;
    padding-bottom: 60px;
}
 
.row1 h1{
    font-weight: 500;
    font-size: 70px;
}
.row1 p{
    font-size: 20px;
    font-weight: 400;
}


.row2 img{
height: 55vh;
width: 200vh;
}