*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
    background-color: #fed330;
}
h1{
    font-size: 50px;
    color: #2d98da;
    margin-top: 150px;
}
p{
    color: #20bf6b;
    font-size: 40px;
    margin-top: 100px;
}