@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: auto;
    color: #000;
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.DataAnalytics{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-image: linear-gradient(#f8f9fa, #c5ced5);
    background-color: violet; /* For browsers that do not support gradients */
    height: 700px;
}
nav{
    width: 1440px;
    display: flex;
    justify-content: center;
    gap: 160px;
    padding-top: 25px;
    font-weight: 400;
}
nav img{
    position: absolute;
    top: 25px;
    left: 200px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    font-size: 17px;
}
select{
    border:none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #f8fafc;
  }
nav ul li{
    list-style-type: none;
}
nav button{
border: 1.5px solid #9107fa;
color: #9107fa; 
padding: 10px 30px;
border-radius: 40px;
background-color: #fff;
margin-left: 50px;
font-size: 14px;
position: absolute;
top: 20px;
}
header{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 140px;
    justify-content: center;
}
.Header-Left{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.Header-Left h1{
    font-size: 50px;
    line-height: 55px;
}
.Header-Left p{
    font-size: 18px;
    line-height: 55px;
    font-weight: 300;
    line-height: 20px;
}
.Header-Left button{
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 400;
}
section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.Section-Grid{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    text-align: center;
}
section h1{
    font-size: 45px;
}
section h5{
    font-size: 20px;
    font-weight: 300;
}
.Section-Grid1, .Section-Grid2, .Section-Grid3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
}
main{
    display: grid;
    grid-template-columns: 544px 500px;
    margin-left: 250px;
    margin-top: 150px;
    row-gap: 150px;
}
.Grid1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 140px;
    }
.Grid2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
summary{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 200px;
    gap: 30px;
    text-align: center;
    background-image: linear-gradient(#f7f6fe, #dfd8fa);
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%);
    width: 1440px;
    height: 740px;
    background-color: violet; /* For browsers that do not support gradients */
    }
summary h2{
    font-size: 25px;
    font-weight: 500;
}
.Logo-Name{
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1400px;
    margin-left: 90px;
    margin-top: 200px;
}
.Article-Left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hr span{
    position: absolute;
    left: 523px;
    top: 3684px;
}
.logo4{
    display: grid;
    grid-template-columns: 230px 300px;
    gap: 60px 10px;
    margin-left: 190px;
}
.Article-Right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f7f5f5;
    padding: 20px;
    position: absolute;
    top: 3390px;
    width: 420px;
    left: 916px;
}
.border-form{
    width: 1160px;
    height: 510px;
    margin-right: 200px;
    padding: 30px;
    background-color: #dfd8fa;
}
.Article-Right h1, p{
    text-align: center;
}
.Article-Right input{
    padding: 10px 40px 10px 15px;
}
footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
    padding-bottom: 90px;
}
footer b{
    font-size: 17px;
    line-height: 45px;
}
footer input{
    padding: 10px 1px 10px 15px;
    background-color: #fff;
    border: none;
}